@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
body {
    font-family: 'Nunito', cursive;
    background-color: #dcd9ff;
}  
nav {
    background-color:#915d80;
    color:black
} 
nav > a {
    color:#1e1a1d;
    text-decoration: none;
    padding:10px 175px;
    display: inline-block;
} 
img {
    border-radius: 30px;
} 
#name{ 
    text-align:center;
 

} 
nav> a:hover{
    background-color:gray
    
}
#ppp{
    text-align: center
;
} 
.ep{
    text-align: center;
} 
form{
    width:340px;
    height:440px; 
    background: #915d80;
    border-radius:8px;
    box-shadow:0 0 40px -10px #915d80;

}  
input, textarea{ 
    background-color: #b43489;  
    border-radius: 8px; 
    color: #1e1a1d;

}
#gitIcon{
    color: #000;
}