@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
body {
    font-family: 'Nunito', cursive;
    background-color: #dcd9ff; 
    background-image: url("cool-background.png"); 
    background-repeat: no-repeat; 
    background-size: cover ; 
    min-height: 100vh; 
    background-color: rgba(0,0,0,0.0);
}  
nav {
    background-color:#915d80;  
    border-radius: 25px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    color:black;
    position: sticky;
    top: 0;
} 
nav > a {
    color:#1e1a1d;
    text-decoration: none;
    padding:15px 200px;
    display: inline-block; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
} 
img {
    border-radius: 30px;
} 
#name{ 
    text-align:center; 
    font-weight: bolder;
 

} 
nav> a:hover{
    background-color:#dcd9ff;
    border-radius: 30px;
}
#ppp{
    text-align: center
;
} 
.ep{
    text-align: center;
} 



#gitIcon{
    color: #000;
}   
.container{ 
    width:80%;
    margin:50px auto;

} 

.contact-box {
display: flex;
} 

.contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
    color:#1e1a1d;
    background:#915d80;
} 

.contact-right {
    flex-basis:40%;
    padding: 50px;

} 

h1 {
    margin-bottom: 10px;
}

.container p {
    margin-bottom: 40px; 
} 

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; 
} 

.input-row .input-group{
    flex: basis 45%; 
    color: #000; 
} 

input {
    width: 100%;
    border: none; 
    border-bottom: 1px solid #915d80; 
    outline: none; 
    padding-bottom: 5px;
    color:#000
} 
::-webkit-input-placeholder {
    color:#000;
}
textarea {
    width: 100%; 
    border: 1px solid #915d80; 
    outline:none;
    padding: 10px; 
    box-sizing: border-box;
    margin-bottom: 10px;
} 

label {
    margin-bottom: 6px;
    display:block;
    color:#05031d 

}

tr td:first-child {
    padding-right: 20px;
} 

tr td {
    padding-top:20px; 

} 

.picture {
    float: left;
}




@media screen and (max-width:1000px) { 
    body {
        background-color: aliceblue; 
        width: 95% 
    
    } 
#cert-pic{
    width:100%
}
    
}
.drippy {
    color: rgb(213, 205, 255); 
    font-family:Verdana, Geneva, Tahoma, sans-serif;}
  
     


    .happygif {
        float:right;
        margin:left 17px;
      
    }
nav > li > a:hover{
    Background-color: darkorchid;
}
.social-icon{
    color: #05031d; 
    transition: color 0.2s;
    margin:  10px; 
    width: 35px;
} 
.onepiece {
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif; 
    background-color:plum;
    font-weight: 900; 
    resize: horizontal;
} 

.right {
    float: right;
}


 
